.cat-title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.list-new img {
    width: 100%;
    height: 200px;  
    object-fit: cover;
    border: 1px solid #ededed;
    padding: 1px;
}
.list-new{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

.list-new img:hover{
    opacity: .8 ;
}

.list-new h4 a{
    font-size: 18px;
    color: #333;
    line-height: 25px;
}

.read-more{
    display: inline-block;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    border-radius: 30px;
}

.read-more:hover{
    background: rgb(129, 125, 125);
    color: #fff;
}

.page-numbers{
    display: inline-block;
    padding: 3px 10px;
    border: 1px solid #333;
}
.page-next{
    text-align: center;
}

h2.single-title{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
}

.meta-single{
    padding-bottom: 10xp;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.meta-single span{
    display: inline-block;
    margin-right: 35px;
}

.single-content *{
    font-size: 23px;
    line-height: 25px;
}

.single-content p{
    text-align: justify;
    margin-bottom: 25px;
    color: rgb(73, 72, 72);
    font-size: 16px;
}

figure.wp-block-image{
    margin: 0 auto;
    display: block;
}


